<%= form_for(recipe) do |f| %>
<%= f.label :name %> <br>
<%= f.text_field :name %> <br><br>

<%= f.label :ingredient %> <br><br>
<div class="formcontent">
<%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |b| %>
<span>
<%= b.check_box %>
<%= b.label %> <br>
</span>


<% end %>
 <br><br>
</div>

<%= f.submit %>
<% end %>

